<div id="sigunUpOuter" class="outer mt-5">
    <div class="container">
        <div class="row">
            <div class="offset-md-2 coll-lg-5 col-md-7 offset-lg-4 offset-md-3">
                <div class="panel border bg-white">
                    <div class="panel-heading">
                        <h3 class="pt-3 font-weigth-bold ms-2">
                            Crear Cuenta
                        </h3>
                    </div>
                    <div class="panel-body p-3">
                        <form [formGroup]="signupForm">
                            <div class="pt-3">
                                <div class="input-group">
                                    <label class="input-group-text inputLabel">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                                        </svg>
                                    </label>
                                    <input type="text" class="form-control" placeholder="Nombre(s)" formControlName="firstName"/>
                                </div>
                                <small *ngIf="signupForm.controls['firstName'].dirty && signupForm.hasError('required', 'firstName')" class="badge text-bg-danger mb-3">
                                    Es necesario introducir su(s) nombre(s).
                                </small>
                            </div>
                            <div class="pt-3">
                                <div class="input-group">
                                    <label class="input-group-text inputLabel">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
                                            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/>
                                        </svg>
                                    </label>
                                    <input type="text" class="form-control" placeholder="Apellido(s)" formControlName="lastName"/>
                                </div>
                                
                                <small *ngIf="signupForm.controls['lastName'].dirty && signupForm.hasError('required', 'lastName')" class="badge text-bg-danger mb-3">
                                    Es necesario introducir su(s) apellido(s).
                                </small>
                            </div>
                            <div class="pt-3">
                                <div class="input-group">
                                    <label class="input-group-text inputLabel">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-envelope-at-fill" viewBox="0 0 16 16">
                                            <path d="M2 2A2 2 0 0 0 .05 3.555L8 8.414l7.95-4.859A2 2 0 0 0 14 2H2Zm-2 9.8V4.698l5.803 3.546L0 11.801Zm6.761-2.97-6.57 4.026A2 2 0 0 0 2 14h6.256A4.493 4.493 0 0 1 8 12.5a4.49 4.49 0 0 1 1.606-3.446l-.367-.225L8 9.586l-1.239-.757ZM16 9.671V4.697l-5.803 3.546.338.208A4.482 4.482 0 0 1 12.5 8c1.414 0 2.675.652 3.5 1.671Z"/>
                                            <path d="M15.834 12.244c0 1.168-.577 2.025-1.587 2.025-.503 0-1.002-.228-1.12-.648h-.043c-.118.416-.543.643-1.015.643-.77 0-1.259-.542-1.259-1.434v-.529c0-.844.481-1.4 1.26-1.4.585 0 .87.333.953.63h.03v-.568h.905v2.19c0 .272.18.42.411.42.315 0 .639-.415.639-1.39v-.118c0-1.277-.95-2.326-2.484-2.326h-.04c-1.582 0-2.64 1.067-2.64 2.724v.157c0 1.867 1.237 2.654 2.57 2.654h.045c.507 0 .935-.07 1.18-.18v.731c-.219.1-.643.175-1.237.175h-.044C10.438 16 9 14.82 9 12.646v-.214C9 10.36 10.421 9 12.485 9h.035c2.12 0 3.314 1.43 3.314 3.034v.21Zm-4.04.21v.227c0 .586.227.8.581.8.31 0 .564-.17.564-.743v-.367c0-.516-.275-.708-.572-.708-.346 0-.573.245-.573.791Z"/>
                                          </svg>
                                    </label>
                                    <input type="email" class="form-control" placeholder="Correo Eléctronico" formControlName="email"/>
                                </div>
                                <small *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required', 'email')" class="badge text-bg-danger mb-3">
                                    Es necesario introducir el correo electronico.
                                </small>
                            </div>
                            <div class="pt-3">
                                <div class="input-group">
                                    <label class="input-group-text inputLabel">
                                        <span (click)="togglePassword()" class="clickableSvg">
                                              <img src="{{svg}}" alt="">
                                        </span>
                                    </label>
                                    <input [type]="type" class="form-control" placeholder="Contraseña" formControlName="password"/>
                                </div>
                                
                                <small *ngIf="signupForm.controls['password'].dirty && signupForm.hasError('required', 'password')" class="badge text-bg-danger mb-3">
                                    Necesita escribir una contraseña.
                                </small>
                            </div>
                            <div class="pt-3">
                                <div class="input-group">
                                    <label class="input-group-text inputLabel">
                                        <span (click)="togglePassword()" class="clickableSvg">
                                            <img src="{{svg}}" alt="">
                                        </span>
                                    </label>
                                    <input [type]="type" class="form-control" placeholder="Repetir Contraseña" (change)="cleanErrorPassword()"
                                     formControlName="confirmPassword"/>
                                </div>
                                <small *ngIf="signupForm.controls['confirmPassword'].dirty && signupForm.hasError('required', 'confirmPassword')" class="badge text-bg-danger mb-3">
                                    Favor de repetir su contraseña.
                                </small>
                                <small *ngIf="errorPassword" class="badge text-bg-danger mb-3">
                                    {{ errorPassword }}
                                  </small>
                            </div>
                        </form>
                        <div class="my-3 loginBtnHolder">
                            <div>
                                <button [disabled]="signupForm.invalid" (click)="onSubmit()" id="Insert" routerLink="../signup" class="btn btn-primary col-5 ms-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-plus-fill me-2" viewBox="0 0 16 16">
                                        <path d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                                        <path fill-rule="evenodd" d="M13.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0V8h-1.5a.5.5 0 0 1 0-1H13V5.5a.5.5 0 0 1 .5-.5z"/>
                                    </svg>
                                    Crear Cuenta
                                </button>
                            </div>
                            <a id="alreadyHaveAcc" routerLink="../login" class="btn btn-outline-secondary col-5 ms-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right me-2" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                </svg>
                                Ya tengo una cuenta
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>